################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/gestao-colab/.vs/gestao-colab
/gestao-colab/obj
/gestao-colab/bin/Debug/net8.0
